.form-container {
  min-width: 320px;
  width: 400px;
}

.error-icon {
  line-height: 25px;
}

/* .card-actions:last-child {
  margin: 0;
} */

.contact-form-button {
  width: 100%;
  margin: 0;
  padding: 0;
}
