<div class="mx-5 my-10 sm:mx-0 md:p-10 p-0" id="contact-form">
  <!-- <h1 class="text-center mb-5 text-4xl font-bold">Contact Me</h1> -->
  <app-alert *ngIf="messageSuccess" type="success"></app-alert>
  <app-alert *ngIf="messageFailure" type="error"></app-alert>
  <div class="card glass lg:card-side text-neutral-content flex items-center">
    <!-- <div class="max-w-md card-body"> -->

    <div class="card-body w-full">
      <h2 class="card-title mb-0">Contact me</h2>
      <p>Here you can request my CV or ask questions.</p>
      <!-- Form -->
      <form
        class="form-control flex justify-center"
        (ngSubmit)="onSubmit(f)"
        #f="ngForm"
      >
        <!-- Email -->
        <label class="label">
          <span class="label-text">Email</span>
        </label>
        <input
          type="email"
          placeholder="email"
          class="input input-bordered input-accent"
          ngModel
          name="email"
          [(ngModel)]="emailText"
          email
          required
          [disabled]="loading"
          #email="ngModel"
        />

        <!-- Subject of message -->
        <label class="label">
          <span class="label-text">Subject</span>
        </label>
        <input
          type="text"
          placeholder="subject"
          class="input input-bordered input-accent"
          ngModel
          name="subject"
          [(ngModel)]="subjectText"
          required
          #subject="ngModel"
          [disabled]="loading"
        />

        <!-- Email -->
        <label class="label">
          <span class="label-text">Your Message</span>
        </label>
        <textarea
          class="textarea h-24 textarea-bordered textarea-accent"
          placeholder="message"
          ngModel
          name="message"
          [(ngModel)]="textAreaText"
          #message="ngModel"
          [disabled]="loading"
          required
        ></textarea>

        <!-- Submit -->
        <div class="card-actions text-center mt-5 ">
          <!-- <button class="btn glass rounded-full mt-3" [disabled]="!f.valid">
            Submit!
          </button> -->

          <button
            class="btn btn-primary contact-form-button"
            [disabled]="!f.valid || loading"
          >
            Submit!
          </button>
        </div>
      </form>
    </div>

    <figure class="p-6 self-center hidden sm:block">
      <img
        src="../../assets/IMG_2484.jpeg"
        class="rounded-lg shadow-lg profile-image"
      />
    </figure>
  </div>
</div>
<!-- 
<div class="md:p-20 p-0">

  <h1>Contact me</h1>

  <div *ngIf="messageSuccess" className="flex items-start mb-4 space-x-2">
    <strong class="text-success">Message Sent </strong>
    <i class="far fa-check-circle text-success"></i>
  </div>

  <div *ngIf="messageFailure">
    <div class="flex items-start space-x-2">
      <strong class="text-error">Error occured, message not sent </strong>
      <i class="far fa-times-circle text-error error-icon"></i>
    </div>
    <strong class="text-error">Reason: {{ errorMessage }} </strong>
  </div>


  <form
    class="form-control flex justify-center"
    (ngSubmit)="onSubmit(f)"
    #f="ngForm"
  >

    <label class="label">
      <span class="label-text">Email</span>
    </label>
    <input
      type="email"
      placeholder="email"
      class="input input-bordered"
      ngModel
      name="email"
      [(ngModel)]="emailText"
      email
      required
      #email="ngModel"
    />


    <label class="label">
      <span class="label-text">Subject</span>
    </label>
    <input
      type="text"
      placeholder="subject"
      class="input input-bordered"
      ngModel
      name="subject"
      [(ngModel)]="subjectText"
      required
      #subject="ngModel"
    />


    <label class="label">
      <span class="label-text">Your Message</span>
    </label>
    <textarea
      class="textarea h-24 textarea-bordered"
      placeholder="message"
      ngModel
      name="message"
      [(ngModel)]="textAreaText"
      #message="ngModel"
      required
    ></textarea>


    <button class="btn btn-primary mt-3" [disabled]="!f.valid">Submit!</button>
  </form>
</div> -->
