.form-container {
  min-width: 320px;
  width: 400px;
}

.error-icon {
  line-height: 25px;
}

/* .card-actions:last-child {
  margin: 0;
} */

.contact-form-button {
  width: 100%;
  margin: 0;
  padding: 0;
}

.profile-image {
  max-width: 450px;
}

.contact-form-container {
  background-color: #793df9;
  background-image: linear-gradient(
    43deg,
    #793df9 0%,
    #c850c0 83%,
    #ffcc70 100%
  );
}
