.tech-icon {
  font-size: 3.5em;
}

.tech-text {
  font-size: 0.9em;
}

.curve-about {
  /* position: absolute; */
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.curve-about svg {
  position: relative;
  display: block;
  width: calc(161% + 1.3px);
  height: 74px;
}

.curve-about .shape-fill {
  /* fill: #ffffff; */
  fill: #793ef9;
}

@media (max-width: 640px) {
  #about {
    margin: 2rem 0 3rem 0;
  }
}
