<!-- <div class="alert alert-success mb-2" -->
<div
  class="alert mb-2"
  [ngClass]="{
    'alert-success': type === 'success',
    'alert-error': type === 'error'
  }"
>
  <div class="flex-1">
    <!-- Success -->
    <i
      class="far fa-check-circle text-success success-icon"
      *ngIf="type !== 'error'"
    ></i>
    <!-- Error -->
    <svg
      xmlns="http://www.w3.org/2000/svg"
      fill="none"
      viewBox="0 0 24 24"
      stroke="#ff5722"
      class="w-6 h-6 mx-2"
      *ngIf="type === 'error'"
    >
      <path
        stroke-linecap="round"
        stroke-linejoin="round"
        stroke-width="2"
        d="M18.364 18.364A9 9 0 005.636 5.636m12.728 12.728A9 9 0 015.636 5.636m12.728 12.728L5.636 5.636"
      ></path>
    </svg>
    <label *ngIf="!text && type === 'error'">Something went wrong!</label>
    <label *ngIf="!text && type !== 'error'"> Message successfully sent!</label>
    <label *ngIf="text">{{ text }}</label>
  </div>
</div>
