<div class="md:p-20 p-0">
  <div class="card glass lg:card-side text-neutral-content flex items-center">
    <figure class="p-6 self-center">
      <img
        src="https://picsum.photos/id/1005/300/200"
        class="rounded-lg shadow-lg"
      />
    </figure>
    <div class="max-w-md card-body">
      <h2 class="card-title">Subscribe</h2>
      <p>
        Subscribe to my email list and receive updates about the latest Software
        Engineering news and trends.
      </p>
      <div class="form-control">
        <label class="label">
          <!-- <span class="label-text">Email</span> -->
        </label>
        <input
          type="text"
          placeholder="Enter your email here"
          class="input input-accent input-bordered"
        />
      </div>
      <div class="card-actions">
        <button class="btn glass rounded-full">Subscribe</button>
      </div>
    </div>
  </div>
</div>
