<!-- Navbar -->
<app-navbar></app-navbar>
<section class="h-full">
  <!-- Welcome screen -->
  <app-welcome></app-welcome>

  <!-- About Section -->
  <app-about></app-about>

  <!-- Projects -->
  <app-projects></app-projects>

  <!-- Experience -->
  <app-experience></app-experience>

  <!-- Contact Form -->
  <app-contact-form></app-contact-form>

  <!-- Subscribe widget -->
  <!-- <app-subscribe-widget></app-subscribe-widget> -->

  <!-- Contact links etc... -->
  <app-footer></app-footer>
</section>
