<div class="h-screen drawer w-full rounded">
  <input
    id="my-drawer-4"
    type="checkbox"
    class="drawer-toggle"
    #inputCheckbox
  />
  <div class="drawer-content main-content">
    <!-- Page content here -->

    <!-- Navbar -->
    <app-navbar (expandMenu)="expandDrawer(inputCheckbox, true)"></app-navbar>
    <section class="h-full">
      <!-- Welcome screen -->
      <app-welcome></app-welcome>

      <!-- About Section -->
      <app-about></app-about>

      <!-- Projects -->
      <app-projects></app-projects>

      <!-- Experience -->
      <app-experience></app-experience>

      <!-- Contact Form -->
      <app-contact-form></app-contact-form>

      <!-- Subscribe widget -->
      <!-- <app-subscribe-widget></app-subscribe-widget> -->

      <!-- Contact links etc... -->
      <app-footer></app-footer>
    </section>
  </div>

  <div class="drawer-side">
    <label for="my-drawer-4" class="drawer-overlay"></label>
    <ul class="menu p-4 overflow-y-auto w-80 bg-base-100 text-base-content">
      <!-- Sidebar content here -->
      <li>
        <a href="#about" (click)="expandDrawer(inputCheckbox, false)"
          >About <span class="material-icons"> face </span>
        </a>
      </li>
      <li>
        <a href="#projects" (click)="expandDrawer(inputCheckbox, false)"
          >Portfolio
          <span class="material-icons"> palette </span>
        </a>
      </li>
      <li>
        <a href="#experience" (click)="expandDrawer(inputCheckbox, false)"
          >Experience
          <span class="material-icons"> badge </span>
        </a>
      </li>
      <li>
        <a href="#contact-form" (click)="expandDrawer(inputCheckbox, false)"
          >Contact
          <span class="material-icons"> phone_iphone </span>
        </a>
      </li>
    </ul>
  </div>
</div>
